{namespace flux=Tx_Flux_ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}

<f:layout name="Hilzweb"/>
<!--<div id="page" class="{settings.pageClass}">-->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <h1>Hilzweb.com</h1>
            </div>
            <div class="collapse navbar-collapse">
                <v:page.menu entryLevel="0" class="nav navbar-nav" expandAll="TRUE" levels="3" />
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a id="logo" href="#"></a>
                </div>
                <div class="col-md-8 mg-top-60">
                    <p class="slogan text-center">
                        "Sie liefern das Problem,<br/>
                        wir die Lösung."
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <f:render section="Content"/>

    </div>

    <div class="footer mg-top-40">
        <div class="container">
            <div class="col-xs-12 text-center">
                &copy; 2014 hilzweb.com
            </div>
        </div>
    </div>
    <!-- /.container -->
<!--</div>-->